{% load themetags %}
{% load static %}

<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-light-info elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="{% static '/admin-assets/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">{{configs.APP_NAME}}</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="{% url 'admin-dashboard'%}" class="nav-link {% active 'admin-dashboard' %}">
              <i class="nav-icon fas fa-th"></i>
              <p>Home</p>
            </a>
          </li>
           <li class="nav-item">
            <a href="{% url 'admin-user-list'%}" class="nav-link {% active 'user' %}">
              <i class="nav-icon fas fa-user"></i>
              <p> customers</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'service-list'%}" class="nav-link {% active 'service' %}">
              <i class="nav-icon fas fa-user"></i>
              <p> Service</p>
            </a>
          </li>
            <li class="nav-item">
            <a href="{% url 'admin-subscription-list'%}" class="nav-link {% active 'subscription' %}">
              <i class="nav-icon fas fa-user"></i>
              <p> Subscription</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
